# Data Preprocessing

### Importing the libraries

In [1]:
# In the beginning we import the libraries we need in order to acomplish our tasks

# NumPy is needed to create and manipulate N-dimensional arrays
import numpy as np

# Pandas provides data structures and ways to manipulate them
import pandas as pd

### Importing the dataset

In [2]:
# Here we use the Pandas library to read data from a Data.csv file and save it in a Pandas data structure called dataframe
dataset = pd.read_csv('Data.csv')

### Showing the dataset

In [3]:
# In Jupyter Notebook, we can just type the name of the dataframe, and it will be printed
dataset

   Country   Age   Salary Purchased
0   France  60.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  88.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  77.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  98.0  67000.0       Yes

### Taking care of missing data

In [4]:
# The only numeric columns where the "Age" column (1) and the "Salary" column (2). Let's select them.
column_age = dataset.iloc[:, 1]
column_salary = dataset.iloc[:, 2]

# Now we calculate the mean for those columns. Numpy library provides a good method for that
age_mean = np.nanmean(column_age.values)
salary_mean = np.nanmean(column_salary.values)

# In order to fill the Nan-values, we need to map the column name to the respective mean value
column_to_mean_map = {'Age': age_mean, 'Salary': salary_mean}

# Now we actually fill the NaN values with the mean values. We just have to provide our mapping results
dataset = dataset.fillna(value = column_to_mean_map)

# You don't have to do those steps all manually. We could have also just written the following (important for later!):
# dataframe_name = dataframe_name.fillna(dataframe_name.mean()) 

# Let's take a look if the NaN's are filled
dataset

   Country        Age        Salary Purchased
0   France  60.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  88.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  77.000000  58000.000000       Yes
6    Spain  58.444444  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  98.000000  67000.000000       Yes

### Task 1 (Merging)

In [ ]:
define merging

1.  Read each CSV file using the following command pd.read_csv("file_name")

In [ ]:
# The files are called "Data-part-one.csv" and "Data-part-two.csv"
# replece first_file_name and second_file_name with the actual file names

df1 = pd.read_csv("first_file_name")
df2 = pd.read_csv("first_file_name")

2. print the two dataframes that you've created

In [ ]:
# replece the dataframe names with the right names 
print(first_dataframe_name)

print()  # For an empty line

print(second_dataframe_name)

3. Merge the two dataframes using "merge" function

In [ ]:
# replace "Data-frame_two" with the actual dataframe name
df = df1.merge(Data_frame_two)

4. Show the final merged dataframe by executing the next line

In [ ]:
df

In [ ]:
# We don't need the 'id' column of our merged dataframe anymore, so let's DROP it
df.drop(["id"], axis=1)

5. Show the dataframe after droping "id" column

In [ ]:
df

### Task 2 ( Feature Engineering)

In [ ]:
define feature engineering

Generate a new feature (column) called "IsSenior" from the column "age"

1. add a new column to the data frame by using this command (df['column_name'] = None)

In [ ]:
# replace "new_column_name" with "IsSenior"
df['new_column_name'] = None

2- IsSenior column should show True if the person's age is >= 60, and False otherwise

In [ ]:
# replace "new_column_name" with "IsSenior"
df.loc[df['Age'] >= 60, 'new-column-name'] = True
df.loc[df['Age'] < 60, 'new-column-name'] = False

4- Show the dataframe after adding a new column by executing the line below

In [ ]:
df